<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/portfolio.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="./js/bootstrap.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bootstrap</title>
</head>

<body>

    <!-- <div class="parent container-fluid"> -->
    <!-- Home -->
    <section class="home" style="max-width: 1040px; margin: auto; overflow-x: hidden;">
        <nav class="d-flex text-white">
            <div class="container-lg">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gx-2 logo">
                        <i class="bi bi-bootstrap-fill" class="display-6"></i>
                        <h4>Bootstrap</h4>
                    </div>
                    <ul class="d-flex nav-list">
                        <li>Home</li>
                        <li>About</li>
                        <li>Skills</li>
                        <li>Contact</li>
                        <li>Blog</li>
                        <li>About Us</li>
                        <div class="nav-slider position-absolute"></div>
                    </ul>
                    <i class="bi bi-text-left" id="toggle-nav"></i>
                </div>
            </div>
        </nav>
        <div class="row d-flex flex-col-reverse flex-md-row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center justify-content-md-end">
                <div class="intro mt-5 mx-auto col-11 col-md-10 gy-8 d-flex flex-column">
                    <span class="fw-semibold text-primary">Get started with us</span>
                    <h1 class="">
                        Turn your ideas
                        into a <span class="text-primary">Startup.</span>
                    </h1>
                    <p class="col-10 col-md-12 text-secondary">
                        DevTeam.Space is a vetted community of expert development teams supported by an AI-powered
                        agile process. Companies like Disney, Airbus, NEC, and startups rely on us to build great
                        online products. We can help you too, by enabling you to hire and effortlessly manage expert
                        developers.
                    </p>
                    <div>
                        <button class="btn btn-primary">Get started</button>
                        <button class="btn btn-outline-warning mt-1 mt-xs-0">
                            Contact Us
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="col-12 col-md-6 mt-5 d-flex justify-content-center justify-content-md-start align-items-center profile">
                <img src="https://avatars.githubusercontent.com/u/64949957?v=4" alt="" class="img-fluid mx-auto" />
            </div>
        </div>

    </section>

    <!--  services  -->

    <section class="services mt-5" style="max-width: 1040px; margin: auto;">
        <div class="text-center">
            <h1 class="text-center fw-semibold title">Services We Provide</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center gx-2">
            <div class="p-3">
                <div class="border p-3 pt-4 bg-primary text-white">
                    <div class="text-center">
                        <i class="fa-brands fa-mdb display-5"></i>
                    </div>
                    <h5 class=" fw-semibold text-center my-4">UI/UX Design</h5>
                    <p class="text-justify px-2">Lorem ipsum dolor sit amet, cons adipisicing elit. Facere nihil
                        perferendis ipsum atque ad non dolores sit obcaecati repellat dolore.</p>
                </div>
            </div>
            <div class="p-3">
                <div class="border p-3 pt-4 bg-primary text-white">
                    <div class="text-center">
                        <i class="fa-sharp fa-solid fa-terminal display-5"></i>
                    </div>
                    <h5 class=" fw-semibold text-center my-4">Web Development</h5>
                    <p class="text-justify px-2">Lorem ipsum dolor sit amet, cons adipisicing elit. Facere nihil
                        perferendis ipsum atque ad non dolores sit obcaecati repellat dolore.</p>
                </div>
            </div>
            <div class="p-3">
                <div class="border p-3 pt-4 bg-primary text-white">
                    <div class="text-center">
                        <i class="fa-solid fa-rectangle-ad display-5"></i>
                    </div>
                    <h5 class=" fw-semibold text-center my-4">Marketing</h5>
                    <p class="text-justify px-2">Lorem ipsum dolor sit amet, cons adipisicing elit. Facere nihil
                        perferendis ipsum atque ad non dolores sit obcaecati repellat dolore.</p>
                </div>
            </div>
            <div class="p-3">
                <div class="border p-3 pt-4 bg-primary text-white">
                    <div class="text-center">
                        <i class="fa-sharp fa-solid fa-terminal display-5"></i>
                    </div>
                    <h5 class=" fw-semibold text-center my-4">Web Development</h5>
                    <p class="text-justify px-2">Lorem ipsum dolor sit amet, cons adipisicing elit. Facere nihil
                        perferendis ipsum atque ad non dolores sit obcaecati repellat dolore.</p>
                </div>
            </div>
            <div class="p-3">
                <div class="border p-3 pt-4 bg-primary text-white">
                    <div class="text-center">
                        <i class="fa-solid fa-rectangle-ad display-5"></i>
                    </div>
                    <h5 class=" fw-semibold text-center my-4">Marketing</h5>
                    <p class="text-justify px-2">Lorem ipsum dolor sit amet, cons adipisicing elit. Facere nihil
                        perferendis ipsum atque ad non dolores sit obcaecati repellat dolore.</p>
                </div>
            </div>
            <div class="p-3">
                <div class="border p-3 pt-4 bg-primary text-white">
                    <div class="text-center">
                        <i class="fa-brands fa-mdb display-5"></i>
                    </div>
                    <h5 class=" fw-semibold text-center my-4">UI/UX Design</h5>
                    <p class="text-justify px-2">Lorem ipsum dolor sit amet, cons adipisicing elit. Facere nihil
                        perferendis ipsum atque ad non dolores sit obcaecati repellat dolore.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ -->

    <section class="col-10 col-md-8 mx-auto col-lg-6 mb-4" style="max-width: 940px; margin: auto;">
        <div class="text-center">
            <h1 class="title">FAQ</h1>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is Bootstrap?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What is React js?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Is Node JS a runtime environment?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact us -->

    <section style="max-width: 1040px; margin: auto;">
        <div class="text-center">
            <h1 class="title">Contact us</h1>
        </div>
        <div class="row">
            <div class="col-12 mx-auto col-md-6">
                <img src="https://media.istockphoto.com/id/1340452442/vector/customer-support-department-staff-helping-a-client-via-hotline-call-to-solve-a-problem.jpg?s=612x612&w=0&k=20&c=b3HFZ1gkozVWKVENg4il-lqdj8hUfFQCYJemQ9UOnsg="
                    alt="" class="img-fluid" />
            </div>
            <div class="col-12 mx-auto col-md-6">
                <form class="col-lg-10 mx-auto col-11">
                    <div class="form-group my-3">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group my-3">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group my-3">
                        <label for="exampleFormControlTextarea3 pb-1">
                            Add a message
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" style="resize: none;"></textarea>
                    </div>
                    <div class="form-check my-1 mb-2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                            Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->

    <section class="bg-dark " style="margin-top: 20px;">
      <section class="bg-dark text-white p-2 p-md-5 mt-5 footer" style="max-width: 1040px; margin: auto;">
        <p class="pt-4 pt-md-2">Questions? Call 000-800-919-1694</p>
        <div class="d-flex flex-wrap justify-content-md-start">
          <ul>
            <li>FAQ</li>
            <li>Gift Card Terms</li>
            <li>Help Centre</li>
            <li>Account</li>
            <li>Media Centre</li>
            <li>Investor Relations</li>
          </ul>
          <ul>
            <li>Ways to Watch</li>
            <li>Terms of Use</li>
            <li>Privacy</li>
            <li>Cookie Preferences</li>
            <li>Corporate Information</li>
          </ul>
          <ul>
            <li>Jobs</li>
            <li>Contact Us</li>
            <li>Speed Test</li>
            <li>Legal Notices</li>
            <li>Only on Netflix</li>
          </ul>
        </div>
    </section>
  </section>
</body>

</html>