<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="stylesheet" href="./css/forgotpassword.css">
    <script src="./js/forgotpassword.js" defer></script>
    <script src="./js/bottomnav.js" defer></script>
</head>

<body>
    <div class="main">
        <form>
            <h2>Reset Password</h2>
            <div>
                <input type="email" id="email" />
                <span>Your Email</span>
            </div>
            <div class="otp-holder">
                <input type="number" id="otp" />
                <span>OTP</span>
            </div>
            <div class="pwd">
                <input type="password" id="new-password" />
                <span>New password</span>
            </div>
            <div class="confirm-pwd">
                <input type="password" id="confirm-new-password" />
                <span>Confirm password</span>
            </div>
            <p class="warning"></p>
            <div>
                <button>Send Email</button>
            </div>
        </form>
    </div>
</body>

</html>