@import "_global.scss";

.main {
  flex: 1;
  display: grid;
  place-items: center;

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 17px;
    box-shadow: 0 0 5px #e8e6e6;

    h1 {
      text-align: left;
      color: #322;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;

      @include sm {
        font-size: 18px;
      }
    }

    input {
      padding: 12px;
      border: 1px solid #c2c0c0;
      font-size: 14px;
      outline: none;
      width: 90%;
      margin: auto;
      transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      border-radius: 5px;

      &:focus {
        border: 2.5px solid darkblue;
      }

      @include sm {
        width: 300px;
      }
    }

    input[type="submit"] {
      background-color: rgb(118, 113, 78);
      width: 100%;
      cursor: pointer;
      color: #fff;
      font-weight: 600;
    }

    .warning {
      color: rgb(228, 8, 8);
      font-size: 14px;
      display: none;
      margin: -10px 0;
    }
  }
}
