@import "_global.scss";

body {
  height: 100vh;
  display: grid;
  place-items: center;
  width: 100vw;
}

.main {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;

  @include xs {
    box-shadow: 0px 0px 30px #f3f0f0, -15px -15px 37px #ffffff;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;

    h2 {
      text-align: center;
      color: #888;
    }

    .warning {
      font-size: 14px;
      color: rgb(235, 16, 49);
      margin: -10px 0 0 0;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: 7px 0;
      position: relative;

      @include xs {
        width: 300px;
      }

      input {
        padding: 22px 10px 10px 10px;
        border-radius: 4px;
        border: 1px solid #c0c0c0;
        outline: none;
        background-color: transparent;
        z-index: 9999;

        &:focus {
          border: 2px solid rgb(41, 50, 173);
        }
      }

      span {
        position: absolute;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        top: 16px;
        left: 10px;
        font-size: 16px;
        color: #777;
      }

      button {
        outline: none;
        border: none;
        background-color: rgb(33, 76, 193);
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        padding: 13px;
        font-size: 16px;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.label {
  font-size: 12px !important;
  color: rgb(33, 76, 193) !important;
  top: 7px !important;
  left: 11px !important;
  z-index: 999999;
}
