@import "_global.scss";

.main {
  flex: 1;

  .images {
    height: 400px;
    position: relative;

    #profile {
      height: 100px;
      width: 100px;
      border-radius: 10px;
      position: absolute;
      border: 2px solid #fff;
      bottom: -50px;
      box-shadow: 1px 1px 1px #f0efef;
      left: 50%;
      transform: translateX(-50%);
      animation: profile 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    #cover {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

@keyframes profile {
  0% {
    left: 5%;
    transform: rotate(-360deg);
  }

  100% {
    left: 45%;
    transform: rotate(360deg);
  }
}

.options {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  padding-top: 70px;
  flex-direction: column;

  @include md {
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      color: red;
    }
  }

  button {
    border: 1.5px solid darkblue;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 8px 22px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    font-weight: 500;
    background-color: darkblue;
    box-shadow: 1px 1px 2px #999;
    color: #fff;

    &:hover {
      box-shadow: 2px 2px 5px #777;
    }
  }
}
