<nav class="bottom-nav nav-bt">
  <a class="link" href="/wordle">
    <div>
      <span class="material-symbols-outlined">
        extension
      </span>
      <span>Wordle</span>
    </div>
  </a>
  <a class="link" href="/bootstrap">
    <div>
      <span class="material-symbols-outlined">
        code
      </span>
      <span>Bootstrap</span>
    </div>
  </a>
  <a class="link" href="/tailwind">
    <div>
      <span class="material-symbols-outlined">
        css
      </span>
      <span>Tailwind</span>
    </div>
  </a>
  <a class="link" href="/music">
    <div>
      <span class="material-symbols-outlined">
        headphones
      </span>
      <span>Music</span>
    </div>
  </a>
  <a class="link" id="more" href="#">
    <div>
      <span class="material-symbols-outlined">
        more
      </span>
      <span>More</span>
    </div>
  </a>
</nav>

<div class="more-opt nav-bt" id="opt-more">
  <div></div>
  <a class="link" href="/video">
    <div>
      <span class="material-symbols-outlined">
        play_arrow
      </span>
      <span>Video</span>
    </div>
  </a>
  <a class="link" href="/search">
    <div>
      <span class="material-symbols-outlined">
        search
      </span>
      <span>Search</span>
    </div>
  </a>
  <a class="link" href="/profile">
    <div>
      <span class="material-symbols-outlined">
        person
      </span>
      <span>Person</span>
    </div>
  </a>
  <a class="link" href="/settings">
    <div>
      <span class="material-symbols-outlined">
        settings
      </span>
      <span>Settings</span>
    </div>
  </a>
</div>